body {
    background-color: #2F4F4F;
    color: #FAEBD7;
    font-family:'Space Mono', monospace, sans-serif;
    text-align: center;

}

h2 {
    color: #FFDEAD;
    margin-top: 50px;
}

table {
    border: 5px solid #FFE4E1;
    border-collapse: collapse;
    margin: 10px auto;
    width: 800px;
}

th {
    background-color: #FFE4E1;
    color: #2F4F4F;
    font-weight: bold;
    border: 2px solid #2F4F4F;
    font-weight: bold;
}

td {
    border: 2px solid #FFE4E1;
}

.code {
    background-color: #778899;
    font-style: italic;
    font-weight: light;
}

.tag {
    width: 100px;
}

.name {
    width: 150px;
}

.des {
    width: auto;
}